* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}
.like {
  animation-name: heart;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}
/*animacion*/

@keyframes heart {
  0% {
    transform: scale(1);
  }
  75% {
    fill: red;

    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    fill: red;
  }
}
